<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nome do evento" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :start, "Data de início" %><br/>
    <%= form.datetime_select :start, { order: [:day, :month, :year] }, class: 'form-control-xs' %>
  </div>

  <div class="form-group">
    <%= form.label :end, "Data de fim" %><br/>
    <%= form.datetime_select :end, { order: [:day, :month, :year] }, class: 'form-control-xs' %>
  </div>

  <div class="form-group">
    <%= form.label :room_id, "Sala" %><br/>
    <%= form.select :room_id, options_for_select(@rooms.map{ |r| [r.name, r.id]}, selected: params[:room_id]), { prompt: "Selecione uma sala" }, { class: "custom-select w-50" } %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar evento", class: "btn btn-primary" %>
  </div>
<% end %>
