<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.select :room_id, options_for_select(@rooms.map{ |r| [r.name, r.id]}, selected: params[:room_id]), { prompt: "Selecione uma sala" }, { class: "custom-select w-50" } %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar evento", class: "btn btn-primary" %>
  </div>
<% end %>
