<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.start %> - <%= @appointment.end %>
</p>

<p>
  <strong>Room:</strong>
  <%= @appointment.room_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
